# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.project_exo_3d.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\unity_axel\project_exo_3d\.idea\.idea.project_exo_3d\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
